<dl class="sub-nav">
  <dt>Balance:</dt>
  <dd class="active"><a href="#"><%= @account.balance %></a></dd>
</dl>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Deposits</th>
      <th>Withdrawals</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
     <% @account.transactions.each do |txn| %>
        <tr>
           <td><%= txn.created_at.strftime('%a %d %b %Y %l %M %P')%></td>
           <td><%= txn.amount if txn.bus_op == :deposit %></td>
           <td><%= txn.amount if txn.bus_op == :withdraw %></td>
           <td><%= txn.desc%></td>
        </tr>
      <% end %>
  </tbody>
</table>